<!-- START: Top Menu -->
<style scoped="scoped">
    .navbar .navbar-brand {
        font-weight: 900;
    }

    .navbar .btn {
        border: 0px;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <table style="width:100%">
            <tr>
                <td align="left" valign="middle" style="width:100px;">
                    <a class="navbar-brand" href="/" title="Home">
                        Digitease
                    </a>
                </td>
                <td align="center" valign="middle">
                    &nbsp;
                </td>
                <td align="right" valign="middle" style="width:200px;">
                    <button class="btn btn-md btn-box-tool" style="color:#333;background: white;" onclick="openMenu()">
                        <i class="fas fa-bars"></i>
                        menu
                    </button>
                    <a href="../auth/login.html" class="btn btn-md btn-box-tool" style="color:#333;background: white;">
                        <i class="fas fa-user"></i>
                        <span class="FirstName"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</nav>
<!-- END: Top Menu -->
<script>
    $(function () {
        $('span.FirstName').html($$.getUser().FirstName);
    });
</script>