<style>
    #MainFooter {
        background: #611F6A;
        color: whitesmoke;
    }

    #MainFooter a {
        color: whitesmoke;
    }
</style>
<footer id="MainFooter" class="py-5 shadow-sm">
    <div class="container">
        <p class="float-right mb-1">
            <a href="#" class="btn btn-secondary">
                <!-- Back to top -->
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-square" fill="white"
                    xmlns="http://www.w3.org/2000/svg" style="width:16px;height:16px;margin-top: -5px;;">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M3.544 10.705A.5.5 0 0 0 4 11h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5a.5.5 0 0 0-.082.537z" />
                </svg>
            </a>
        </p>
        <p class="mb-1">
            &copy;2020
            <a href="https://lesichkov.co.uk" target="_blank">Milan Lesichkov</a>
        </p>
        <p class="mb-0">
            All rights reserved
        </p>
    </div>
</footer>