<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <div class="container">
        <b-navbar-brand href="#">Admin</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav></b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="/auth/logout.html">Hi {{ who }}</b-nav-item>
            <b-nav-item href="/auth/logout.html">Logout</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    var user = $$.getUser();
    var who = user.FirstName + " " + user.LastName;
    return {
      who: who,
    };
  },
};
</script>

<style>
.hello {
  background-color: #ffe;
}
</style>