<!-- START: ModalArticleCreate Dialog -->
<div id="ModalArticleCreate" class="modal fade cc-modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span>New Article</span>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 0px; bottom: 0px;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="text-align: right;width: 100%;margin-top: 7px;">
                                Title
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input name="date" class="form-control cc-form-control" v-model="articleCreateModal.title" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-light float-right cc-btn-purple" __data-dismiss="modal" v-on:click="articleCreateSave()" style="width:180px;margin:0px;">
                    Save &amp; Continue
                </button>
                <a id="modal-close" href="#" class="btn cc-btn-white cc-purple-color float-right" data-dismiss="modal">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END: ModalArticleCreate Dialog -->