<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>
    <snv-layout id="my-app">
        <template v-slot:header>
            <snv-navbar />
        </template>
        <template v-slot:content>
            <div class="container">
                <h1>Articles</h1>
                <div style="border:1px solid #999;padding:10px;margin: 10px 0px;">
                    Search: <input v-model="search" v-on:keyup="searchArticles()" />
                </div>
                <table class="table table-striped">
                    <thead>
                        <th>
                            <span v-on:click="sortBy('title')" style="cursor: pointer;">
                                Title
                            </span>
                            <template v-if="orderBy=='title'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('desc')">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('asc')">
                                    <path fill-rule="evenodd"
                                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                            </template>
                        </th>
                        <th>
                            <span v-on:click="sortBy('status')" style="cursor: pointer;">
                                Status
                            </span>
                            <template v-if="orderBy=='status'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('desc')">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('asc')">
                                    <path fill-rule="evenodd"
                                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                            </template>
                        </th>
                        <th>
                            <span v-on:click="sortBy('published_at')" style="cursor: pointer;">
                                Published
                            </span>
                            <template v-if="orderBy=='published_at'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('desc')">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('asc')">
                                    <path fill-rule="evenodd"
                                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                            </template>
                        </th>
                        <th>
                            <span v-on:click="sortBy('created_at')" style="cursor: pointer;">Created</span>
                            <template v-if="orderBy=='created_at'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('desc')">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('asc')">
                                    <path fill-rule="evenodd"
                                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                            </template>
                        </th>
                        <th>
                            <span v-on:click="sortBy('updated_at')" style="cursor: pointer;">
                                Updated
                            </span>
                            <template v-if="orderBy=='updated_at'">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('desc')">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    v-on:click="sortDirection('asc')">
                                    <path fill-rule="evenodd"
                                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                            </template>
                        </th>
                    </thead>
                    <tbody>
                        <template v-for="article in articles">
                            <tr>
                                <td>
                                    <a v-bind:href="'article-update.html?article_id='+article.id">
                                        {{article.title}}
                                    </a>
                                </td>
                                <td>
                                    {{article.status}}
                                </td>
                                <td>
                                    {{article.published_at}}
                                </td>
                                <td>
                                    {{article.created_at}}
                                </td>
                                <td>
                                    {{article.updated_at}}
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>

                <br />
                <br />
                Rows per page:
                <select v-on:change="changePerPage()" v-model="perPage">
                    <option v-for="num in [25,50,75,100]">{{ num }}</option>
                </select>
                Page:
                <span v-on:click="currentPage--;changePage()" v-if="currentPage-1>0" class="badge badge-info">
                    &lt; prev
                </span>
                <select v-on:change="changePage()" v-model="currentPage">
                    <option v-for="pageNumber in totalPages">{{ pageNumber }}</option>
                </select>
                <span v-on:click="currentPage++;changePage()" v-if="currentPage<totalPages" class="badge badge-info">
                    next &gt;
                </span>
                <br />
                <br />
            </div>
        </template>
    </snv-layout>
    <script type="text/javascript">
        function main() {
            $(function () {
                console.log("Ready");
            });

            new Vue({
                el: '#my-app',
                components: {
                    'snv-layout': httpVueLoader('/user/shared/snv-layout.vue'),
                    'snv-navbar': httpVueLoader('/user/shared/snv-navbar.vue'),
                    'snv-footer': httpVueLoader('/guest/shared/snv-footer.vue')
                },
                data() {
                    return {
                        articles: [],
                        search: "",
                        perPage: 25,
                        currentPage: 1,
                        totalArticles: null,
                        totalPages: null,
                        orderBy: "created_at",
                        sort: "asc",
                    };
                },
                created() {
                    this.fetchArticles();
                },
                methods: {
                    sortBy(column) {
                        this.orderBy = column;
                        this.fetchArticles();
                    },
                    sortDirection(direction) {
                        this.sort = direction;
                        this.fetchArticles();
                    },
                    changePage: function () {
                        this.fetchArticles();
                    },
                    changePerPage: function () {
                        this.fetchArticles();
                    },
                    searchArticles: function () {
                        this.fetchArticles();
                    },
                    fetchArticles: function () {
                        var self = this;

                        $('.buttonLogin .imgLoading').show();

                        var ws = $$.ws("user/articles/article-list", {
                            token: $$.getToken(),
                            per_page: self.perPage,
                            page: self.currentPage,
                            search: self.search,
                            by: self.orderBy,
                            sort: self.sort,
                        });
                        ws.then(success).fail(error).done(function () {
                            $('.buttonLogin .imgLoading').hide();
                        });

                        function success(response) {
                            if (response.status !== "success") {
                                return toastr.error(response.message);
                            }

                            self.articles = response.data.articles;
                            self.currentPage = response.data.page;
                            self.totalPages = response.data.pages;
                            self.totalArticles = response.data.total;

                            return;
                        }

                        function error(error) {
                            $('.buttonLogin .imgLoading').hide();
                            return toastr.error('There was an error. Try again later!');
                        }
                    }
                }
            });
        }
    </script>
    <script src="/js/boot.js" data-scripts="/js/boot-user.js" data-styles=""></script>
</body>