{% extends "user/layout.html" %}


{% block title %}Home{% endblock %}

{% block header %}{% include "user/partials/header.html" %}{% endblock %}

{% block footer %}{% include "user/partials/footer.html" %}{% endblock %}

{% block content %}

<!-- START: Section Articles -->
<style>
    #SectionLogin {
        margin: 40px 0px 80px 0px;
    }
</style>
<section id="SectionLogin">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-default" style="margin:0 auto;max-width: 360px;">
                    <div class="card-header">
                        <h3 class="card-title" data-i18n="Auth.Login.HeadingSignIn">
                            Articles
                        </h3>
                    </div>
                    <div class="card-body">
                        <a href="/user/articles/article-manager">Manage articles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Section Articles -->
{% endblock %}

{% block scripts %}
{{ __scripts("https://code.jquery.com/jquery-3.5.1.min.js") }}
{{ scripts("user/shared/authenticate-user.js") }}
{% endblock %}