{% extends "guest/layout.html" %}

{% block title %}Logout{% endblock %}

{% block header %}
{% include "guest/partials/header.html" %}
{% endblock %}

{% block footer %}
{% include "guest/partials/footer.html" %}
{% endblock %}

{% block content %}

<br />
<br />

<!-- START: Section Login -->
<section id="SectionLogout">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-sm-12">
                <div class="card card-default" style="margin:0 auto;max-width: 360px;">
                    <div class="card-header">
                        <h5 class="card-title font-weight-light mb-0">
                            Error. Forbidden (403)
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="text-danger">
                            You do not have permission to access this resource on the server
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Section Login -->
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}