<template>
  <!-- START: Page Wrapper -->
  <table
    class="Layout"
    cellspacing="0"
    cellpadding="0"
    style="width: 100%; height: 100%"
  >
    <!-- START: Header -->
    <tr>
      <td class="Header" align="center" valign="middle" style="height: 1px">
        <slot name="header" />
      </td>
    </tr>
    <!-- START: Content-->
    <tr>
      <td class="Content" align="left" valign="top">
        <!-- START: Main Content -->
        <br />
        <br />
        <slot name="content" />
        <br />
        <br />
        <!-- END: Main Content -->
      </td>
    </tr>
    <!-- END: Content-->
    <!-- START: Footer -->
    <tr>
      <td class="Footer" align="center" valign="middle" style="height: 80px">
        <slot name="footer" />
      </td>
    </tr>
    <!-- END: Footer -->
  </table>
  <!-- END: Page Wrapper -->
</template>

<script>
module.exports = {
  data: function () {
    return {
      //who: "world",
    };
  },
};
</script>

<style>
/* .hello {
  background-color: #ffe;
} */
html,
body {
  height: 100%;
}
</style>